@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Raleway;
    font-weight: 1000;
}
body{
    background-color: #d4d4da;
    padding-top: 1%;
    padding-left: 1.5vw;
}
canvas{
    display: inline;
    margin-top: 3%;
    border-radius: 10px;
    box-shadow:11px 9px 15px 3px #333232, -16.52px -16.52px 29px #7e7e7e;
}
#stroke-setting{
    display: inline-block;
}
#stroke-setter{
    height: 23px;
    width: 53px;
    border-radius: 3px;
}
#number{
    font-size: 15px;
    height: 20px;
    border: 1px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
}
.btn{
    margin-left: 20px;
    display: inline-block;
    height: 23px;
    width: 115px;
    border-radius: 4px;
}
#Erase, #clear-canvas, #download{
    margin-top: 10px;
    margin-left: 5px;
}
#downloadable{
    display: none;
}